body{
    width : 100vw;
    height : 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topic{
    display:flex;
    width : 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 10px;
    margin-right: 10px;
    border : 1px solid #123f21;
}
.topic_list{
    /* border : 1px solid #ff2342; */
}
.tuvung{
    display:flex;
    width : 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 10px;
    margin-right: 10px;
}
.pronounce {
    cursor: pointer; /* Thay đổi con trỏ khi hover */
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và từ */
}